<div  class="row teamGrid text-center">
            <div class="box">
            <a name="teams"></a>
                <div class="col-lg-12">
                    
                    <h2 class="notbold text-center">

                    <span class="index">Meet the teams</span>
                    <span class="register"><strong>Register now</strong></span>
                    </h2>

                    <hr class="short">
                    <h2 class="text-center notbold" style="color: #000044">Adults:</h2><br>
                    <ul class="bigList col-xs-12 col-sm-6 col-sm-offset-3">
                        <li>How many adults?
                            <input type="number" value="1" class="form-control input num" data-cost1="20" data-cost2="25" min="0">
                            
                        </li>
                        <li class="totalCostLi">
                            <button class="btn calculateTotal">Calculate total contribution</button>
                            <h4 class="showLater totalCostH4">Total contribution: $<span class="totalCost"></span></h4>
                        </li>
                        <hr class="short showLater">
                        <li class="msg showLater">Please contribute the amount shown above to the team registration page linked below:</li>
                    </ul>
                </div>
                <div class="showLater teamDivContainer">
                    <div class="teamDiv col-xs-6 col-sm-4 text-center">
                        <img class="img-responsive" src="img/intro-pic.jpg" alt="">
                        <h3 class="notbold">Team <b>Dhyana</b>
                            <br><small>Kishore C</small>

                        </h3>
                        <a class="register" href="/"><h4>Join now!</h4></a>
                    </div>
                    <div class="teamDiv col-xs-6 col-sm-4 text-center">
                        <img class="img-responsive" src="img/intro-pic.jpg" alt="">
                        <h3 class="notbold">Team <b>Sankalpa</b>
                            <br><small>Anjali M</small>
                        </h3>
                        <a class="register" href="/"><h4>Join now!</h4></a>
                    </div>
                    <div class="teamDiv col-xs-6 col-sm-4 text-center">
                        <img class="img-responsive" src="img/intro-pic.jpg" alt="">
                        <h3 class="notbold">Team <b>Karma</b>
                            <br><small>Sudha M</small>
                        </h3>
                        <a class="register" href="/"><h4>Join now!</h4></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

<div  class="row teamGrid">
            <div class="box">
            <a name="teams"></a>
                <div class="col-lg-12">
                    
                    <h2 class="notbold text-center">

                    <span class="index">Meet the teams</span>
                    <span class="register"><strong>Register now</strong></span>
                    </h2>

                    <hr class="short">
                    <h2 class="text-center notbold" style="color: #000044">Children:</h2>
                  
                  <div class="dropdown dropdown-child">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Select age group
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li role="presentation"><a role="menuitem" data-target="ES" tabindex="-1" href="#/">Elementary School (Grade 5 and below)</a></li>
                      <li role="presentation"><a role="menuitem" data-target="MS" tabindex="-1" href="#/">Middle School (Grades 6-8)</a></li>
                      <li role="presentation"><a role="menuitem" data-target="HS" tabindex="-1" href="#/">High School (Grades 9-12)</a></li>
                    </ul>
                  </div>

                  <br>
                  

                    <ul class="howManyChildren bigList col-xs-12 col-sm-6 col-sm-offset-3">
                        <li>How many children?
                            <input type="number" value="1" class="form-control input num" data-cost1-HS="20" data-cost2-HS="25" data-cost1-MS="15" data-cost2-MS="20" data-cost1-ES="15" data-cost2-ES="20" min="0">
                            
                        </li>
                        <p class="fontSmall">Note: Free for children under 5 years of age.</p>
                        <li class="totalCostLi">
                            <button class="btn calculateTotal">Calculate total contribution</button>
                            <h4 class="showLater totalCostH4">Total contribution: $<span class="totalCost"></span></h4>
                        </li>
                        <hr class="short showLater">
                        <li class="msg showLater">Please contribute the amount shown above to the team registration page linked below:</li>
                    </ul>
                </div>
                <div class="teamDivContainer">
                    <div class="childTab showLater ES teamDiv col-xs-12 text-center">
                        <img class="img-responsive" src="img/intro-pic.jpg" alt="">
                        <h3 class="notbold">Team <b>Dhyana</b>
                            <br><small>Elementary School</small>

                        </h3>
                        <a class="register" href="/"><h4>Join now!</h4></a>
                    </div>
                    <div class="childTab showLater MS teamDiv col-xs-12 text-center">
                        <img class="img-responsive" src="img/intro-pic.jpg" alt="">
                        <h3 class="notbold">Team <b>Sankalpa</b>
                            <br><small>Middle School</small>
                        </h3>
                        <a class="register" href="/"><h4>Join now!</h4></a>
                    </div>
                    <div class="childTab showLater HS teamDiv col-xs-12 text-center">
                        <img class="img-responsive" src="img/intro-pic.jpg" alt="">
                        <h3 class="notbold">Team <b>Karma</b>
                            <br><small>High School</small>
                        </h3>
                        <a class="register" href="/"><h4>Join now!</h4></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
