@mixin radial-gradient($from, $to) {
    background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
    background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: radial-gradient(center, circle cover, $from 0%, $to 100%);
    background-color: $from;
}

$navBarHeight: 100px;


.navbar-default {
 //@include radial-gradient(#ffff00, #FF9900);
 //background: rgba(255,255,255,.5);
 background: #fa9c41;
 &, * {
    border: none !important;
 }
}
/*    body {
        padding-top: 10px;
    }
@media only screen and (min-width:768px) {
    .navbar-default {
        height: $navBarHeight;
    }
    body {
        padding-top: $navBarHeight;
    }
}*/

.navbar-default  .navbar-brand {
    &, &:hover {
color: $headerColor;
}
}
.navbar-default .navbar-nav>li>a {
    color: $headerColor;
    &:hover {
        color: $headerColorHover;
    }
    &.selected {
        font-weight: bold;
        color: $headerColorHover;
    }
}

.brandRight {
	font-size: 100%;
	vertical-align: bottom;
	float: right;
	display: block;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}
