.teamGrid {
	.index, .register {
		display: none;
	}
}

.indexParent .teamGrid {
	.index {
		display: block;
	}
}

.registerParent .teamGrid {
	.register {
		display: block;
	}

}


	.showLater {
		display: none;
	}

	.teamGrid {
		.bigList {
			float: none;
		}
		text-align: center;
		p, .msg, .bigList li {
			font-size: 80%;
		}
		p.fontSmall {
			font-size: 60%;
		}
		.dropdown-menu {
    left: 50% !important;
    margin-left: -70px;
		}
		.howManyChildren {
			display: none;
		}
	}


.totalCostLi {
	text-align: center;
	margin-bottom: 20px;
}

.totalCostH4 {
	
	display: inline;
	display: none;
	//margin-left: 0;
}

.teamDiv h3 {
	font-size: 22px;
}